@import "./components/search-bar.scss";

@import "./pages/landing.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
